<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOST_KEY</key>
	<string>${HOST_KEY}</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>캘린더를 확인하겠습니다.</string>
</dict>
</plist>
